html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hind", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
cardapio background-color
background: linear-gradient(45deg, rgba(48,43,40,1) 0%, rgba(37,34,33,1) 100%);
*/
.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

.linkAtivo {
  opacity: 0.6;
}

.btn-black_shadow, .btn-black, .btn-white {
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 40px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s all ease-in-out;
  font-family: "Ubuntu", sans-serif, sans-serif;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  display: inline-block;
}

.btn-white {
  background-color: #ffffff;
  color: #212121;
}
.btn-white:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn-black {
  background-color: #000000;
  color: #ffffff;
}
.btn-black:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn-black_shadow {
  background-color: #000000;
  color: #ffffff;
}
.btn-black_shadow:hover {
  box-shadow: 0 11px 18px -5px rgba(0, 0, 0, 0.37);
}
.btn-icon {
  margin-right: 6px;
}

.header {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 2%;
  position: absolute;
  width: 100%;
}

.header-container {
  flex-wrap: wrap;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-desktop {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-desktop a:not(.nav-desktop a.btn-navBar) {
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  transition: 0.3s all ease-in-out;
  display: inline-block;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.nav-desktop a:hover:not(a.btn-navBar) {
  opacity: 0.5;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-desktop {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
}

.nav-mobile {
  background: url("./../../images/menu-mobile.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
  height: 50px;
  transition: 0.3s all ease-in-out;
  width: 50px;
}
@media screen and (min-width: 1024px) {
  .nav-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-mobile:hover .nav-mobile_itens {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .nav-mobile:hover .nav-mobile_itens {
    display: block;
  }
}

.nav-mobile_itens {
  background-color: #ffffff;
  display: none;
  left: 0;
  position: absolute;
  top: 80px;
  width: 100%;
}
.nav-mobile_itens li {
  padding: 10px 0 10px 20px;
  width: 100%;
}
.nav-mobile_itens a {
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-section {
  align-items: center;
  min-height: 110%;
  padding: 0 2%;
  width: 100%;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .main-section {
    min-height: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-section {
    min-height: 80%;
  }
}
.main-section_container {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-section_container {
    padding-top: 170px;
  }
}
@media screen and (max-width: 767px) {
  .main-section_container {
    padding-top: 170px;
    padding-bottom: 60px;
  }
}
.main-section_description {
  color: #ffffff;
  max-width: 620px;
  width: 100%;
}
.main-section_description h1 {
  font-weight: 300;
  margin-bottom: 20px;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 3.75rem;
  line-height: 4.6875rem;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-section_description h1 {
    font-family: "Hind", sans-serif, sans-serif;
    font-size: 2.25rem;
    line-height: 3.125rem;
  }
}
@media screen and (max-width: 767px) {
  .main-section_description h1 {
    font-family: "Hind", sans-serif, sans-serif;
    font-size: 2.25rem;
    line-height: 3.125rem;
  }
}
.main-section_description p {
  margin-bottom: 20px;
  font-family: "Oxygen", sans-serif, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}
@media screen and (max-width: 767px) {
  .main-section_description {
    max-width: 400px;
    margin: 0 auto;
  }
}

.section {
  padding: 90px 2%;
}
.section-container {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.section-description {
  margin-bottom: 40px;
  text-align: center;
}
.section-description_title {
  color: #3e4249;
  font-weight: 300;
  letter-spacing: -0.288px;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 2.25rem;
  line-height: 3.125rem;
}
.section-description_paragraph {
  color: #848991;
  font-family: "Ubuntu", sans-serif, sans-serif;
  font-size: 1.0625rem;
  line-height: 1.75rem;
}

.footer {
  width: 100%;
}

.footer-container {
  align-items: center;
  height: 500px;
  padding: 60px 2%;
  width: 100%;
  display: flex;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%), url("./../images/footer-bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .footer-container {
    justify-content: center;
  }
}

.footer-bg {
  max-width: 500px;
}
.footer-bg h2 {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: -0.44px;
  margin-bottom: 40px;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 2.25rem;
  line-height: 3.125rem;
}
.footer-bg_images img:first-of-type {
  margin-right: 40px;
}

.footer-copyright {
  background-color: rgb(57, 64, 70);
  padding: 20px 2%;
}

.home {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%), url("./../images/home-bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.home-buttons {
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

.home-about {
  padding: 120px 2%;
  width: 100%;
}

.home-about_row {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}
.home-about_row:first-child {
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .home-about_row:first-child {
    margin-bottom: 40px;
  }
  .home-about_row:last-child {
    flex-direction: column-reverse;
  }
}

.home-about_img {
  flex-basis: 60%;
  padding: 0 25px;
}
.home-about_img img {
  border-radius: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-about_img {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 767px) {
  .home-about_img {
    flex-basis: 100%;
  }
}

.home-about_texts {
  align-items: flex-start;
  flex-basis: 40%;
  flex-direction: column;
  gap: 20px;
  padding: 0 25px;
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-about_texts {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 767px) {
  .home-about_texts {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
.home-about_texts p span {
  color: #3e4249;
  font-weight: 600;
}

.home-about_time {
  gap: 10px;
  display: flex;
}
.home-about_time i {
  font-size: 27px;
  padding-top: 6px;
}

.home-special {
  background: rgb(250, 250, 250);
}

.home-special_dishes {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "dish1 dish2 dish3" "dish4 dish5 dish6";
  gap: 40px;
  margin-bottom: 60px;
  display: grid;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-special_dishes {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dish1 dish2" "dish3 dish3" "dish4 dish5" "dish6 dish6";
  }
}
@media screen and (max-width: 767px) {
  .home-special_dishes {
    grid-template-columns: 1fr;
    grid-template-areas: "dish1" "dish2" "dish3" "dish4" "dish5" "dish6";
  }
}

.dish-card {
  cursor: pointer;
}
.dish-card img {
  border-radius: 8px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.12), 0 5px 20px rgba(0, 0, 0, 0.1);
}
.dish-card h3 {
  color: #4a4f54;
  font-weight: 600;
  letter-spacing: -0.18px;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
}
.dish-card span {
  color: #848991;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.dish-card:nth-child(1) {
  grid-area: dish1;
}
.dish-card:nth-child(2) {
  grid-area: dish2;
}
.dish-card:nth-child(3) {
  grid-area: dish3;
}
.dish-card:nth-child(4) {
  grid-area: dish4;
}
.dish-card:nth-child(5) {
  grid-area: dish5;
}
.dish-card:nth-child(6) {
  grid-area: dish6;
}

.home-gallery {
  width: 100%;
}
.home-gallery_container {
  cursor: grab;
  gap: 30px;
  height: 500px;
  overflow: hidden;
  display: flex;
}
.home-gallery_container img {
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .home-gallery_container {
    height: auto;
  }
}

.home-chef {
  width: 100%;
}
.home-chef_container {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "chef-image chef-description";
  gap: 35px;
  display: grid;
}
@media screen and (max-width: 767px) {
  .home-chef_container {
    grid-template-columns: 1fr;
    grid-template-areas: "chef-description" "chef-image";
  }
}
.home-chef_image {
  grid-area: chef-image;
}
.home-chef_image img {
  display: block;
}
.home-chef_description {
  align-self: center;
  grid-area: chef-description;
  padding: 0 35px;
}
.home-chef_description span {
  color: #848991;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif, sans-serif;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
}
.home-chef_description h3 {
  color: #3e4249;
  font-weight: 300;
  letter-spacing: -0.288px;
  margin: 10px 0;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 2.25rem;
  line-height: 3.125rem;
}
.home-chef_description p {
  color: #848991;
  margin-bottom: 25px;
  font-family: "Ubuntu", sans-serif, sans-serif;
  font-size: 1.0625rem;
  line-height: 1.75rem;
}

.home-blog {
  background-color: rgb(250, 250, 250);
}
.home-blog_posts {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  overflow: hidden;
  display: grid;
}

.home-blog_post {
  cursor: grab;
  overflow: hidden;
}
.home-blog_post img {
  border-radius: 8px;
}

.post-details {
  margin: 10px 0;
}
.post-details span {
  color: #848991;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.post-details h2 {
  color: #4a4f54;
  margin: 10px 0;
  font-family: "Ubuntu", sans-serif, sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.post-details p {
  color: #848991;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.post-details p i {
  margin-right: 5px;
}

.home-contact {
  padding: 40px 2%;
  width: 100%;
}

.home-contact_container {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  display: flex;
}

.contact-item {
  align-items: center;
  flex: 1 1 335px;
  gap: 12px;
  display: flex;
}
.contact-item img {
  color: rgb(33, 33, 33);
  height: 50px;
  width: 50px;
}

.contact-details p {
  color: #4a4f54;
  font-weight: 600;
  letter-spacing: -0.128px;
  font-family: "Hind", sans-serif, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.contact-details a,
.contact-details address {
  color: #848991;
}

/*# sourceMappingURL=main.css.map */
