/* colors palette */

$primary-color:#3e4249;
$second-color :#848991;
$black        :#212121;
$black-opacity:rgba(0, 0, 0, 0.4);
$gray         :#4a4f54;
$white        :#ffffff;
$white-opacity:rgba(255, 255, 255, 0.6);

/*
background: linear-gradient(45deg, rgba(48,43,40,1) 0%, rgba(37,34,33,1) 100%);
*/