/* colors palette */

$primary-color          :#3e4249;
$second-color           :#ffffff;
$theme-texts_color      :#848991;
$theme-link_color       :#212121;
$theme-header_bg-color  :rgba(0, 0, 0, 0.4);
$theme-subtitle_color   :#4a4f54;
$theme-section_bg-color :rgba(250, 250, 250, 1);
$theme-blog_texts-color :#313233;
$white-opacity          :rgba(255, 255, 255, 0.6);

/*
cardapio background-color
background: linear-gradient(45deg, rgba(48,43,40,1) 0%, rgba(37,34,33,1) 100%);
*/