.btn {
   &-white {
      background-color: $second-color;
      color           : $theme-link_color;
      @extend %default-button;

      &:hover {
         background-color: $black;
         color           : $second-color;
      }
   }

   &-black {
      background-color: $black;
      color           : $second-color;
      @extend %default-button;

      &:hover {
         background-color: $second-color;
         color           : $black;
      }
   }

   &-black_shadow {
      background-color: $black;
      color           : $second-color;
      @extend %default-button;

      &:hover {
         box-shadow: 0 11px 18px -5px rgb(0 0 0 / 37%);
      }
   }

   &-icon {
      margin-right: 6px;
   }

   &-posts {
      border-radius: 3px;
      border       : 1px solid rgba(0, 0, 0, .1);
      color        : $theme-texts_color;
      display      : inline-block;
      height       : 35px;
      padding      : 6px 15px;
      text-align   : center;
      transition   : all .5s;
      width        : 40px;
      @include typography-01(16);
   }

   &-posts_black {
      background-color: #212121;
      color           : $second-color;
      @include prefix(box-shadow, #212121 0px 7px 14px -6px);
   }
}