/* css base */
html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Hind', sans-serif;
}

html,
body {
   height: 100%;
   width : 100%
}

textarea {
   resize: none;
}

a {
   color          : inherit;
   text-decoration: none;
}