.footer {
   width: 100%;
}

.footer-container {
   align-items: center;
   height     : 500px;
   padding    : 60px 2%;
   width      : 100%;
   @include display(flex);
   @include section-bg("./../images/footer-bg.jpg");

   @include devices(m) {
      justify-content: center;
   }
}

.footer-bg {
   max-width: 500px;

   h2 {
      color         : $second-color;
      font-weight   : 300;
      letter-spacing: -0.44px;
      margin-bottom : 40px;
      @include typography-01(36);
   }

   &_images {
      img:first-of-type {
         margin-right: 40px;
      }
   }
}

.footer-copyright {
   background-color: rgba(57, 64, 70, 1);
   padding         : 30px 2%;

   &_container {
      align-items   : flex-start;
      flex-wrap     : wrap;
      flex-direction: column;
      gap           : 20px;
      @include display(flex);

      p {
         color: $theme-texts_color;
         @include typography-01(16);
      }

      @include devices(l) {
         @include flex-properties(center, space-between);
         flex-direction: row;
      }
   }
}

.footer-sociais {
   color: $second-color;
   gap  : 20px;
   @include display(flex);
   @include flex-properties(center, space-between);
   @include typography-01(16);

   i {
      transition: transform .3s;

      &:hover {
         transform: scale(1.5);
      }
   }
}