.header {
   background-color: $theme-header_bg-color;
   position        : absolute;
   width           : 100%;
}

.header-container {
   flex-wrap: wrap;
   padding  : 30px 0;
   @include display(flex);
   @include flex-properties(center, space-between);

   @include devices(m) {
      justify-content: space-around;
   }
}

.nav-desktop {
   flex-wrap: wrap;
   gap      : 20px;

   @include display(flex);
   @include flex-properties(center, space-between);

   a {
      color      : $second-color;
      font-weight: 500;
      padding    : 10px;
      transition : .3s all ease-in-out;

      @include display(inline-block);
      @include typography-01(16);

      &:hover:not(a.btn-navBar) {
         opacity: 0.5;
      }
   }

   @include devices(t) {
      display: none;
   }

   @include devices(m) {
      display: none;
   }
}

.nav-mobile {
   background     : url("./../../images/menu-mobile.png") no-repeat center;
   background-size: cover;
   cursor         : pointer;
   height         : 50px;
   transition     : .3s all ease-in-out;
   width          : 50px;

   @include devices(l) {
      display: none;
   }

   @include devices(t) {
      &:hover .nav-mobile_itens {
         display: block;
      }
   }

   @include devices(m) {
      &:hover .nav-mobile_itens {
         display: block;
      }
   }
}

.nav-mobile_itens {
   background-color: $second-color;
   display         : none;
   left            : 0;
   position        : absolute;
   top             : 80px;
   width           : 100%;

   li {
      padding: 10px 0 10px 20px;
      width  : 100%;
   }

   a {
      @include typography-01(16);
   }
}