.home {
   align-items    : center;
   background     : url("./../../images/home-bg.jpg") no-repeat center;
   background-size: cover;
   min-height     : 90%;
   padding        : 0 4%;
   width          : 100%;

   @include display(flex);
}

.home-container {
   width: 100%;
}

.home-description {
   color    : $second-color;
   max-width: 620px;
   width    : 100%;

   h1 {
      font-weight  : 300;
      margin-bottom: 20px;
      @include typography-01(60);

      @include devices(t) {
         @include typography-01(36);
      }

      @include devices(m) {
         @include typography-01(36);
      }
   }

   p {
      margin-bottom: 20px;
      @include typography-02(20);
   }
}